<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Rannu</title>

    <link rel="stylesheet" href="css/bulma.css">
  </head>
  <body>
    <div class="container">
      <h1 class="title">Rannu</h1>
    </div>
  </body>
</html>

